In [5]:
# I will add extra steps to this code just so I can review the next homework, I will be making several assumptions.
# Assumption 1: The SQL database was not studied thoroughly.
# Assumption 2: This is the first file opened either by acccident or in purpose. 
    # Going by Assumption 2. That means everything known about the DB is unknown.

# First Lets get the Password And Username imported
from config import USERN, PWD

import sqlalchemy
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import create_engine, inspect, func

# Creating the Engine
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://'+USERN+':'+ PWD +'@localhost:5432/EmployeeDBz')
connection = engine.connect()

# Install Matplotlib to chart
import pandas as pd
import matplotlib
from matplotlib import style
style.use('seaborn')
import matplotlib.pyplot as plt

In [7]:

# Inspector is used to get all the table names.

inspector = inspect(engine)
inspector.get_table_names()

['dept_empl', 'departments', 'salaries', 'titles', 'employees', 'dept_man']

In [10]:
# So we got 6 tables
# From this 6 we need employees, titles, salaries

# Lets see the what are the data types for the 3 tables. And their respective column names
# This will also have a copy and paste purpose later on

SalaryCol = inspector.get_columns('salaries')
SalaryCol

[{'name': 'emp_no',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'salary',
  'type': MONEY(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None}]

In [11]:
EmpCol = inspector.get_columns('employees')
EmpCol

[{'name': 'emp_no',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'emp_title_id',
  'type': VARCHAR(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'birth_date',
  'type': DATE(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'first_name',
  'type': VARCHAR(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'last_name',
  'type': VARCHAR(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'sex',
  'type': VARCHAR(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'hire_date',
  'type': DATE(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None}]

In [12]:
titlesCol = inspector.get_columns('titles')
titlesCol

[{'name': 'title_id',
  'type': VARCHAR(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'title',
  'type': VARCHAR(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None}]