In [30]:
# I will add extra steps to this code just so I can review the next homework, I will be making several assumptions.
# Assumption 1: The SQL database was not studied thoroughly.
# Assumption 2: This is the first file opened either by acccident or in purpose. 
    # Going by Assumption 2. That means everything known about the DB is unknown.
#Assumption 3: I am using this a thorough review. So i will put comments throughout to indicate where its really a review sake and not really belonging to either the above assumption.

# First Lets get the Password And Username imported
from config import USERN, PWD

import sqlalchemy
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import create_engine, inspect, func

# Creating the Engine
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://'+USERN+':'+ PWD +'@localhost:5432/EmployeeDBz')
connection = engine.connect()

# Install Matplotlib to chart
import pandas as pd
import matplotlib
from matplotlib import style
style.use('seaborn')
import matplotlib.pyplot as plt

In [31]:

# Inspector is used to get all the table names.

inspector = inspect(engine)
inspector.get_table_names()

['dept_empl', 'departments', 'salaries', 'titles', 'employees', 'dept_man']

In [32]:
# So we got 6 tables
# From this 6 we need employees, titles, salaries

# Lets see the what are the data types for the 3 tables. And their respective column names
# This will also have a copy and paste purpose later on

SalaryCol = inspector.get_columns('salaries')
SalaryCol

[{'name': 'emp_no',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'salary',
  'type': MONEY(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None}]

In [33]:
EmpCol = inspector.get_columns('employees')
EmpCol

# The employee dabtabase is not really needed but it connect to both salaries, and title DB with its emp_no PK and emp_title_id. So it will be bridge that connects the 2 database.

[{'name': 'emp_no',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'emp_title_id',
  'type': VARCHAR(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'birth_date',
  'type': DATE(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'first_name',
  'type': VARCHAR(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'last_name',
  'type': VARCHAR(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'sex',
  'type': VARCHAR(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'hire_date',
  'type': DATE(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None}]

In [34]:
titlesCol = inspector.get_columns('titles')
titlesCol

[{'name': 'title_id',
  'type': VARCHAR(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'title',
  'type': VARCHAR(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None}]

In [35]:
# Performing an Engine Execute to get at least the Data in Employee. With a LIMIT 20. I want to see a lot of the data but not all the data.
engine.execute('SELECT * FROM employees LIMIT 20').fetchall()
engine.execute('SELECT * FROM salaries LIMIT 20').fetchall()
engine.execute('SELECT * FROM titles').fetchall()
#Just comment out the 2 that doesnt need to be seen. This is the final part in studying the Data. And titles only have a rows so Limit 20 is not needed. But feel free to put it back on just for consistency.

[('s0001', 'Staff'),
 ('s0002', 'Senior Staff'),
 ('e0001', 'Assistant Engineer'),
 ('e0002', 'Engineer'),
 ('e0003', 'Senior Engineer'),
 ('e0004', 'Technique Leader'),
 ('m0001', 'Manager')]

In [44]:

#Now we can either reflect the Database to study it further or move forward. Since Im using this as a review. Lets reflect the DB to study it further.

#Lets prepare the base to prepare for the reflection. And we can see how all this Data looks like. I would really look like. Since inspect is really just more less about the columns, and execute only shows the data.
Base1 = automap_base()
Base1.prepare(engine, reflect=True)
Title = Base.classes.titles



Base3 = automap_base()
Base3.prepare(engine, reflect=True)
Employees = Base.classes.employees

# Base2 = automap_base()
# Base2.prepare(engine, reflect=True)
# Salaries = Base.classes.salaries

#commenting out Salaries. I may have made an error while building the DB since self._data[key] error. 
#It wont be fixed for this assignment unless it will give me issues later on.

In [63]:
# For simplicity the one i want see will be the last which is salaries. Since thats the main criteria. And I only want to see the first row. It will be too much on employees,

Empl1 = session.query(Employees).first()
Empl1.__dict__

title1 = session.query(Title).first()
title1.__dict__

# I tried switching to .first to .all but i got a no attribute error __.dict___. Thats something I will look into more later. It will be ignored for this assignment.

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1fb002e8588>,
 'title': 'Staff',
 'title_id': 's0001'}

In [64]:
# Now that we got know what Data we are working and what Data Types now we can start working

# Start a session to query the database
session = Session(engine)